Magic 271485
Revision 2012.04

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 61 2 1215 776 182 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/raid5_3/user04/r04099/Documents/cvsd/hw/hw3/DPA.vcd" "/home/raid5_3/user04/r04099/Documents/cvsd/hw/hw3/DPA.vcd.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
windowTimeUnit 1ns

; waveform viewport range
zoom 0.000000 3000002000.000000 1n
cursor 2000013000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 38

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/raid5_3/user04/r04099/Documents/cvsd/hw/hw3/DPA.vcd.fsdb"
addSignal -h 15 /test/DPA/ctrl_logic/reset
addSignal -h 15 -holdScope clk
addSignal -h 15 /BLANK
addSignal -h 15 -UNSIGNED -HEX /test/DPA/ctrl_logic/global_cntr[19:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope work_cntr[19:0]
addSignal -h 15 /BLANK
addSignal -h 15 -UNSIGNED -HEX /test/DPA/ctrl_logic/state[2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope next_state[2:0]
addSignal -h 15 /BLANK
addSignal -h 15 -UNSIGNED -UDEC /test/DPA/ctrl_logic/im_a[19:0]
addSignal -h 15 -holdScope im_wen_n
addSignal -h 15 -UNSIGNED -HEX /test/DPA/data_path/si_mux[23:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope si_w[23:0]
addSignal -h 15 /BLANK
addSignal -h 15 -UNSIGNED -UDEC /test/DPA/ctrl_logic/cr_a[8:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cr_x[8:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cr_y[8:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope next_cr_y[8:0]
addSignal -h 15 /BLANK
addSignal -h 15 -UNSIGNED -HEX /test/DPA/ctrl_logic/cr_read_cntr[8:0]
addSignal -h 15 /BLANK
addSignal -h 15 -UNSIGNED -HEX /test/DPA/data_path/so_mux[29:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope im_d[29:0]
addSignal -h 15 -UNSIGNED -HEX /test/DPA/IM_D[23:0]
addSignal -h 15 /BLANK
addSignal -h 15 /test/DPA/ctrl_logic/en_si
addSignal -h 15 -holdScope next_en_si
addSignal -h 15 /BLANK
addSignal -h 15 -UNSIGNED -HEX /test/DPA/ctrl_logic/read_cntr[19:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope read_addr[19:0]
addSignal -h 15 /BLANK
addSignal -h 15 -UNSIGNED -UDEC /test/DPA/ctrl_logic/write_cntr[19:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope write_addr[19:0]
addSignal -h 15 /BLANK
addSignal -h 15 -UNSIGNED -HEX /test/DPA/ctrl_logic/curr_time[23:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope fb_addr[19:0]
addSignal -h 15 /BLANK
addSignal -h 15 -UNSIGNED -HEX /test/DPA/ctrl_logic/curr_photo[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope photo_num[1:0]
addSignal -h 15 /BLANK
addSignal -h 15 -UNSIGNED -HEX /test/DPA/ctrl_logic/curr_photo_addr[19:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope curr_photo_size[1:0]
addSignal -h 15 /BLANK
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/raid5_3/user04/r04099/Documents/cvsd/hw/hw3/DPA.vcd.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/test"
"/test/DPA"
"/test/DPA/ctrl_logic"
"/test/DPA/data_path"

SCOPE_LIST_BEGIN
"/test"
"/test/DPA"
"/test/DPA/ctrl_logic"
"/test/DPA/data_path"
"/test/DPA/ctrl_logic/write_addr_reg"
"/test/DPA/ctrl_logic/read_cntr_reg"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


